
body {
    text-align: center;
    font-family: sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.logs{
    height: 280px;
    overflow-y: auto;
}

@media screen and (max-width:780px) {
    body {
        font-size: 20px;
    }
}
