/* static/style.css */
body {
    text-align: center;
    font-family: sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.time{
    font-size:30px
}
.temp{
    font-size:35px
}

.log{
    max-height: 45vh;
    overflow-y: auto;
}

#log li{
    padding-bottom: 15px;
}

.log-date{
    font-size: 12px;
    padding-right:10px;
}

.log-time{
    font-size: 10px;
    padding-right:10px;
}

.log-dstemp{
    font-size: 20px;
    padding-right:10px;
}

.log-picotemp{
    font-size: 20px;
}



@media screen and (max-width:780px) {
    h1{
        font-size:60px
    }
    .time{
        font-size:45px
    }
    .temp{
        font-size:50px
    }
    .log{
        /* max-height: 45vh; */
        /* overflow-y: auto; */
    }

    .log-date{
        font-size: 18px;
    }
    
    .log-time{
        font-size: 15px;
    }
    
    .log-dstemp{
        font-size: 30px;
    }
    
    .log-picotemp{
        font-size: 30px;
    }
}
