/* static/style.css */
body {
    text-align: center;
    font-family: sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.log{
    max-height: auto;
    overflow-y: auto;
}

#log li{
    padding-bottom: 15px;
}

.log-date{
    font-size: 12px;
    padding-right:10px;
}

.log-time{
    font-size: 10px;
    padding-right:10px;
}

.log-dstemp{
    font-size: 20px;
    padding-right:10px;
}

.log-picotemp{
    font-size: 20px;
    
}



@media screen and (max-width:780px) {
    body {
        font-size: 20px;
    }

    .log{
    max-height: 45vh;
    overflow-y: auto;
    }    
}
