<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>温度モニター</title>
    <style>
        body {
            text-align: center;
            font-family: sans-serif;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>時刻：<span id="time">--:--:--</span></div>

    <h1>温度</h1>

    <div>ds18b20：<span id="ds">-- ℃</span></div>
    <div>pico内部：<span id="pico">-- ℃</span></div>

    <button id="logopen">ログを表示</button>
    <div id="logs" style="display:none;">
        <h2>ログ</h2>
        <ul id="log"></ul>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
