<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>温度モニター</title>
    <style>
        body { text-align: center; font-family: sans-serif; }
    </style>
</head>
<body>
    <h1>温度</h1>
    <div>ds18b20：<span id="ds">-- ℃</span></div>
    <div>pico内部：<span id="pico">-- ℃</span></div>
    <h2>ログ</h2>
    <ul id="log"></ul>
    <!-- <div>時刻：<span id="time">--:--:--</span></div> -->

    <script>
    async function update() {
        const res = await fetch("/get");
        const data = await res.json();
    
        if (data.ds !== null) {
            document.getElementById("ds").textContent = data.ds.toFixed(2)  + " ℃";
            document.getElementById("pico").textContent = data.pico.toFixed(2) + " ℃";
            document.getElementById("time").textContent = data.time;
        }
    
        // 👇 ログ取得
        const logRes = await fetch("/log");
        const log = await logRes.json();
    
        const list = document.getElementById("log");
        list.innerHTML = "";
    
        for (let i = log.length - 1; i >= 0; i--) {
            const li = document.createElement("li");
            li.textContent =
                log[i].time + " / DS:" + log[i].ds + " / Pico:" + log[i].pico.toFixed(1);
            list.appendChild(li);
        }
    }
    
    setInterval(update, 2000);
    update();
</script>
</body>
</html>
