<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>温度モニター</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>温度確認用サイト</h1>
    <div class="time">時刻：<span id="time">--:--:--</span></div>
    <div class="temp">
        <div>センサー温度：<span id="ds">-- ℃</span></div>
        <div>室内温度：<span id="pico">-- ℃</span></div>
    </div>

    <button id="logopen">ログを<span id=hyoujitx>表示</span></button>
    <div id="logs"　style="display:none;">
         <div class="log_left">
            <h2>ログ</h2>
            <div class="log" id="logbox">
                <ul id="log"></ul>
            </div>
        </div>
        <div class="log_right">
            <canvas id="tempgraph"></canvas>
        </div>
    </div>


    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/script.js"></script>
        
</body>
</html>
